<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>user ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>
    

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> 
            {{element.firstName}} {{element.lastName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> 
            {{element.email}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> 
            {{element.userType}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef>CreatedOn</th>
        <td mat-cell *matCellDef="let element"> 
            {{element.createdOn | date: 'dd/MM/yyyy'}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef>Approve</th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-raised-button color="accent" (click)="this.approve.emit(element)">
                Approve
            </button>
        </td>
    </ng-container>

        <!--Order-->>
    <ng-container matColumnsDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnsDef="userIdForOrder">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}}</td>
    </ng-container>

     <ng-container matColumnsDef="userNameForOrder">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
    </ng-container>

    <ng-container matColumnsDef="bookId">
        <th mat-header-cell *matHeaderCellDef>Book ID</th>
        <td mat-cell *matCellDef="let element"> {{element.bookId}}</td>
    </ng-container>
    
    <ng-container matColumnsDef="orderDate">
        <th mat-header-cell *matHeaderCellDef>Order Date</th>
        <td mat-cell *matCellDef="let element"> {{element.orderDate | date:"dd-MM-YYYY"}}</td>
    </ng-container>

    <ng-container matColumnsDef="fineToPay">
        <th mat-header-cell *matHeaderCellDef> Fine To Pay</th>
        <td mat-cell *matCellDef="let element">100</td>
    </ng-container>

    <ng-container matColumnsDef="returnedDate">
        <th mat-header-cell *matHeaderCellDef>Return Date</th>
        <td mat-cell *matCellDef="let element">
            {{element.returnDate | date: "dd-MMM-YYYY"}}</td>
    </ng-container>

    <ng-container matColumnsDef="finePaid">
        <th mat-header-cell *matHeaderCellDef>Fine Paid</th>
        <td mat-cell *matCellDef="let element"> {{element.finePaid}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

</table>