mat-card {
    width: max-content;
    margin-bottom: 2rem;
}
mat-form-field {
    margin-right: 1rem;
}
.category-select {
    width: 300px;
}

.book-price {
    width: 100px;
}

.book-author {
    width: 200px;
}
.book-title{
    width: 300px;
}